body {
    font-family: Arial, sans-serif;
    background-color: #131313;
    color: #b5c7ff;
    margin: 0;
    padding: 20px;
    text-shadow: 0 0 2px #90aaff, 0 0 4px #5080ff;
    overflow-x: hidden; /* Prevent horizontal overflow */
    background: url('../pictures/computer-background.png') no-repeat center center fixed; /* Your image URL */
    background-size: auto; /* Ensure the background covers the entire page */
    position: relative;
    z-index: 1;
}

/* Add a transparent overlay to make the background appear semi-transparent */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 9, 41, 0.8); /* Dark overlay with slight transparency */
    z-index: -1;
    backdrop-filter: blur(10px); /* Apply the blur effect */
}

h1, h2 {
    color: #c7d5ff;
    text-shadow: 0 0 8px #4d79ff, 0 0 6px #aabfff, 0 0 16px #aabfff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between;
}

.column {
    width: 45%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #120e7a;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4d79ff;
    color: #fff;
}

.center-image {
    width: 100%; /* Full width */
    max-width: 45%; /* Limit width to 45% */
    height: auto;
    margin: 0 1%; /* Adjust spacing between columns */
    display: block;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack columns vertically */
        align-items: center; /* Center items horizontally */
    }

    .column {
        width: 100%; /* Full width of the container */
        margin-bottom: 20px;
    }

    .center-image {
        max-width: 100%; /* Image takes full width */
        margin: 20px 0;
    }
}
